*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
    background:#f4f7fc;
    color:#1e293b;
}

a{
    text-decoration:none;
}

button{
    cursor:pointer;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}